Repository Emasoft/enchant_cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, yamllint, actionlint

.pre-commit-config.yaml:

# Pre-commit configuration for EnChANT Book Manager
# Runs all linters automatically before each commit
minimum_pre_commit_version: '2.20.0'
fail_fast: false
default_language_version:
  python: python3.12

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-json
      - id: debug-statements

  # Use uv for dependency management
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.5.11
    hooks:
      # Ensure uv.lock is up-to-date
      - id: uv-lock

  # Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.5
    hooks:
      - id: ruff
        args: ['--fix', '--ignore', 'E203,E402,E501,E266,W505,F841,F842,F401,W293,I001,UP015,C901,W291', '--isolated']
      - id: ruff-format

  # Local hooks that use uv run
  - repo: local
    hooks:
      # Type checking with mypy
      - id: mypy
        name: mypy
        entry: uv run --frozen mypy
        language: system
        types: [python]
        require_serial: true
        args: ['--strict', '--show-error-context', '--pretty', '--no-color-output', '--show-error-codes', '--show-error-code-links', '--no-error-summary', '--follow-imports=normal']
        exclude: '^(tests/|__pycache__|\.git/)'

      # Dependency checking with deptry
      - id: deptry
        name: deptry
        entry: uv run --frozen deptry
        language: system
        always_run: true
        pass_filenames: false
        args: [.]

      # Security audit with pip-audit
      - id: pip-audit
        name: pip-audit
        entry: uv run --frozen pip-audit
        language: system
        always_run: true
        pass_filenames: false

      # YAML linting with yamllint
      - id: yamllint
        name: yamllint
        entry: uv run --frozen yamllint
        language: system
        types: [yaml]
        args: [-c, .yamllint]

      # GitHub Actions linting with actionlint
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        pass_filenames: true

      # Shell script linting with shellcheck
      - id: shellcheck
        name: shellcheck
        entry: uv run --frozen shellcheck
        language: system
        types: [shell]
        args: ['--severity=error', '--extended-analysis=true']

      # Detect secrets with gitleaks
      - id: gitleaks
        name: gitleaks
        entry: gitleaks protect --staged --verbose
        language: system
        pass_filenames: false
        always_run: true

test: add comprehensive test for phase 3 EPUB generation
  tests/test_chunk_retry_improved.py
  tests/test_chunk_retry_mechanism.py
  tests/test_cost_tracking_simple.py
  tests/test_edge_cases.py
  tests/test_epub_generation.py
Due: none

test: add missing chapters detection test and fix double_pass parameter issue
  tests/test_epub_generation.py
  tests/test_integration_cost_tracking_fixed.py
Due: none

fix: update test_translation_service.py for refactored code structure
  tests/test_translation_service.py
Due: none

fix: update remaining tests for refactored code structure
  tests/test_e2e_chinese_to_epub.py
  tests/test_integration_cost_tracking_fixed.py
  tests/test_unified_api_config.py
Due: none

fix: remove unused imports and fix code quality issues
  .gitignore
  enchant_book_manager.log
  pyproject-uv-backend.toml.example
  pyproject.toml
  src/enchant_book_manager/api_clients.py
  src/enchant_book_manager/cli_parser.py
  src/enchant_book_manager/cli_translator.py
  src/enchant_book_manager/make_epub.py
  src/enchant_book_manager/renamenovels.py
  tests/.DS_Store
  uv.lock
Due: mypy

chore: clean up project structure and document best practices
  .gitignore
  CODE_QUALITY_REVIEW.md
  DEVELOPMENT_PLAN.md
  docs/PROJECT_STRUCTURE_BEST_PRACTICES.md
  docs/development/REMAINING_WORK_PLAN.md
  docs/development/refactoring_log.md
  docs/workflows/GITHUB_WORKFLOWS_BEST_PRACTICES.md
  enchant_book_manager.log
  tests/.DS_Store
Due: none

fix: update test imports after code refactoring
  docs/PROJECT_STRUCTURE_BEST_PRACTICES.md
  docs/workflows/GITHUB_WORKFLOWS_BEST_PRACTICES.md
  pyproject.toml
  src/enchant_book_manager/cli_translator.py
  src/enchant_book_manager/common_yaml_utils.py
  src/enchant_book_manager/config_validator.py
  src/enchant_book_manager/cost_tracker.py
  src/enchant_book_manager/enchant_cli.py
  src/enchant_book_manager/epub_builder.py
  src/enchant_book_manager/epub_builders.py
  src/enchant_book_manager/epub_constants.py
  src/enchant_book_manager/epub_db_optimized.py
  src/enchant_book_manager/epub_generator.py
  src/enchant_book_manager/epub_toc_enhanced.py
  src/enchant_book_manager/epub_utils.py
  src/enchant_book_manager/epub_validation.py
  src/enchant_book_manager/icloud_sync.py
  src/enchant_book_manager/make_epub.py
  src/enchant_book_manager/renamenovels.py
  src/enchant_book_manager/translation_service.py
  src/enchant_book_manager/workflow_orchestrator.py
  src/enchant_book_manager/workflow_phases.py
  tests/test_code_quality_fixes.py
  tests/test_e2e_chinese_to_epub.py
  tests/test_enchant_orchestrator.py
  tests/test_english_chapter_patterns.py
  tests/test_epub_generation.py
  tests/test_epub_library_behavior.py
  tests/test_epub_xml_generation.py
  tests/test_part_notation_detection.py
  tests/test_remote_api_integration.py
  tests/test_translation_service.py
Due: mypy

fix: update test_chunk_retry_constants imports
  tests/test_chunk_retry_constants.py
Due: none

fix: update remote API tests to pass API key explicitly
  tests/test_remote_api_integration.py
Due: none

style: format test_remote_api_integration.py
  tests/test_remote_api_integration.py
Due: none

fix: update remote API integration tests
  tests/test_remote_api_integration.py
Due: none

fix: make timeout test more robust
  tests/test_remote_api_integration.py
Due: none

feat: add Docker support for running tests with uv
  .dockerignore
  .github/workflows/docker-test.yml
  Dockerfile
  Dockerfile.prod
  README.md
  docker-compose.yml
  docs/docker-usage.md
  scripts/docker-test.sh
Due: yamllint, actionlint

fix: correct YAML formatting in docker-test workflow
  .github/workflows/docker-test.yml
Due: yamllint, actionlint

fix: correct YAML indentation for yamllint
  .github/workflows/docker-test.yml
  docker-compose.yml
Due: yamllint, actionlint

feat: add Docker testing environment with profiles
  .github/workflows/docker-profile-test.yml
  .gitignore
  DOCKER_TESTING.md
  Dockerfile
  Dockerfile.profiles
  docker-compose.test.yml
  docker-compose.yml
  docker-quick-test.sh
  docker-test-summary.sh
  docker-test.sh
  run-docker-tests.sh
  scripts/docker-test-profiles.sh
  tests/conftest.py
  tests/test_config.py
  tests/test_project_build.py
  tests/test_remote_api_integration.py
Due: yamllint, actionlint

fix: correct Docker workflow file paths and remove shebangs from YAML files
  .github/workflows/docker-profile-test.yml
  docker-compose.test.yml
Due: yamllint, actionlint

fix: add load parameter to Docker build steps
  .github/workflows/docker-profile-test.yml
Due: yamllint, actionlint

fix: resolve shellcheck warnings in Docker workflow
  .github/workflows/docker-profile-test.yml
Due: yamllint, actionlint

fix: resolve all test failures in Docker environment
  tests/test_e2e_chinese_to_epub.py
  tests/test_enchant_orchestrator.py
  tests/test_epub_library_behavior.py
  tests/test_remote_api_integration.py
Due: none

fix: improve test stability and resolve Docker E2E failures
  Dockerfile.profiles
  tests/test_chunk_retry_constants.py
  tests/test_config.py
  tests/test_e2e_chinese_to_epub.py
  tests/test_remote_api_integration.py
Due: none

test: update batch_processor tests to match current implementation
  tests/test_batch_processor.py
  tests/test_translation_orchestrator.py
Due: none

test: add comprehensive tests for epub_builders module
  tests/test_epub_builders.py
Due: none

test: add comprehensive tests for enchant_cli module
  tests/test_enchant_cli.py
Due: none

style: fix ruff formatting issues in test files
  tests/test_enchant_cli.py
  tests/test_epub_builders.py
Due: none

fix: resolve lint and formatting issues in test files
  test_coverage_analysis.md
  tests/test_translation_orchestrator.py
  translations_chronology.yml
Due: yamllint

fix: resolve remaining lint errors in test files
  check_coverage.py
  tests/test_common_print_utils.py
  tests/test_translation_orchestrator.py
Due: mypy

fix: add missing newline to test_coverage_analysis.md
  test_coverage_analysis.md
Due: none

test: add comprehensive tests for orchestrator and main modules
  tests/test_make_epub.py
  tests/test_renamenovels.py
  tests/test_workflow_orchestrator.py
Due: none

test: add comprehensive tests for epub_generator module
  tests/test_epub_generator.py
Due: none

fix: remove translations_chronology.yml file causing lint errors
  tests/test_epub_builder.py
  translations_chronology.yml
Due: yamllint

test: add comprehensive tests for workflow_phases module
  tests/test_workflow_phases.py
Due: none

test: add comprehensive tests for text_processing module
  tests/test_text_processing.py
Due: none

test: add comprehensive tests for multiple modules
  tests/test_main.py
  tests/test_rename_file_processor.py
  tests/test_workflow_epub.py
  tests/test_workflow_progress.py
  translations_chronology.yml
Due: yamllint

fix: correct pytest rootdir in CI workflow
  .github/workflows/ci.yml
Due: yamllint, actionlint

test: improve coverage for common_utils and common_print_utils
  tests/test_common_print_utils.py
  tests/test_common_utils.py
Due: none

test: fix test_init_defaults to handle noop logger in TranslationAPIClient
  .coverage.Mac-mini-di-Emanuele.local.91250.XZPHgKRx
  .coverage.Mac-mini-di-Emanuele.local.91250.XmjEMpXx
  .gitignore
  tests/test_api_clients.py
  translations_chronology.yml
Due: yamllint

test: fix epub_toc_enhanced tests and achieve 100% coverage for main.py
  .coverage.Mac-mini-di-Emanuele.local.91250.XZPHgKRx
  .coverage.Mac-mini-di-Emanuele.local.91250.XmjEMpXx
  tests/test_epub_toc_enhanced.py
  tests/test_main.py
Due: none

test: fix failing tests
  tests/test_api_clients.py
  tests/test_cost_tracker.py
  tests/test_text_processing.py
Due: none
