Repository Emasoft/enchant_cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, yamllint, actionlint

mypy:
  name: mypy
  entry: uv run --frozen mypy
  language: system
  require_serial: true
  args:
  - --strict
  - --show-error-context
  - --pretty
  - --no-color-output
  - --show-error-codes
  - --show-error-code-links
  - --no-error-summary
  - --follow-imports=normal

yamllint:
  name: yamllint
  entry: uv run --frozen yamllint
  language: system
  args:
  - -c
  - .yamllint

actionlint:
  name: actionlint
  entry: actionlint
  language: system
  pass_filenames: true

feat: add remaining CI/CD workflow files per CLAUDE.md requirements
  .github/workflows/build.yml
  .github/workflows/check.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/generate.yml
  .github/workflows/metrics.yml
  .github/workflows/prfix.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  .github/workflows/synch.yml
  .github/workflows/test.yml
  CLAUDE.md
  README.md
Due: yamllint, actionlint

fix: resolve CI/CD workflow issues
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/metrics.yml
  CLAUDE.md
  enchant_book_manager.log
  tests/test_enchant_orchestrator.py
Due: yamllint, actionlint

fix: resolve all CI/CD workflow failures
  .github/workflows/metrics.yml
  tests/test_enchant_orchestrator.py
Due: yamllint, actionlint

feat: enhance pre-commit setup and update CI workflows
  .github/workflows/lint.yml
  .github/workflows/pre-commit.yml
  CLAUDE.md
Due: yamllint, actionlint

fix: format Python files with ruff to pass CI checks
  .github/workflows/lint.yml
Due: yamllint, actionlint

feat: implement test profiles for LOCAL and REMOTE-CI environments
  tests/test_e2e_chinese_to_epub.py
  tests/test_enchant_orchestrator.py
  tests/test_utils.py
Due: none

fix: add missing @skip_local_api_tests decorator and apply formatting
  tests/test_enchant_orchestrator.py
Due: none

fix: resolve CI/CD workflow failures
  .gitignore
  .pre-commit-config.yaml
  tests/test_epub_library_behavior.py
Due: yamllint

fix: update ruff line-length to 320 and fix Windows test
  ruff.toml
  src/enchant_book_manager/cli_translator.py
  src/enchant_book_manager/common_file_utils.py
  src/enchant_book_manager/config_manager.py
  src/enchant_book_manager/enchant_cli.py
  src/enchant_book_manager/epub_builder.py
  src/enchant_book_manager/epub_db_optimized.py
  src/enchant_book_manager/epub_toc_enhanced.py
  src/enchant_book_manager/epub_utils.py
  src/enchant_book_manager/make_epub.py
  src/enchant_book_manager/renamenovels.py
  src/enchant_book_manager/translation_service.py
  tests/test_chunk_retry_improved.py
  tests/test_chunk_retry_mechanism.py
  tests/test_e2e_chinese_to_epub.py
  tests/test_edge_cases.py
  tests/test_epub_library_behavior.py
  tests/test_epub_xml_generation.py
  tests/test_remote_api_integration.py
  tests/test_translation_service.py
Due: mypy

fix: correct yaml formatting for ci.yml
  .github/workflows/ci.yml
Due: yamllint, actionlint

fix: apply yamlfmt formatting to all workflow files
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/generate.yml
  .github/workflows/metrics.yml
  .github/workflows/prfix.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  .github/workflows/synch.yml
Due: yamllint, actionlint

fix: simplify gitleaks pre-commit configuration
  .pre-commit-config.yaml
Due: yamllint

fix: use gitleaks detect instead of protect for CI compatibility
  .pre-commit-config.yaml
Due: yamllint

fix: temporarily disable gitleaks in pre-commit to resolve CI issues
  .pre-commit-config.yaml
Due: yamllint

fix: use direct pre-commit command instead of action
  .github/workflows/pre-commit.yml
Due: yamllint, actionlint

fix: correct yaml formatting for pre-commit.yml
  .github/workflows/pre-commit.yml
Due: yamllint, actionlint

debug: add debugging steps to pre-commit workflow
  .github/workflows/pre-commit.yml
Due: yamllint, actionlint

fix: final workflow fixes
  .github/workflows/pre-commit.yml
Due: yamllint, actionlint

fix: extract gitleaks in /tmp to prevent file overwrites
  .github/workflows/lint.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: yamllint, actionlint

fix: resolve CLAUDE.md compliance issues
  .yamlfmt
  .yamllint.yml
  pyproject.toml
  ruff.toml
  src/enchant_book_manager/__init__.py
  src/enchant_book_manager/cli_translator.py
  src/enchant_book_manager/common_constants.py
  src/enchant_book_manager/common_file_utils.py
  src/enchant_book_manager/common_print_utils.py
  src/enchant_book_manager/common_text_utils.py
  src/enchant_book_manager/common_utils.py
  src/enchant_book_manager/common_yaml_utils.py
  src/enchant_book_manager/config_manager.py
  src/enchant_book_manager/cost_tracker.py
  src/enchant_book_manager/enchant_cli.py
  src/enchant_book_manager/epub_builder.py
  src/enchant_book_manager/epub_constants.py
  src/enchant_book_manager/epub_db_optimized.py
  src/enchant_book_manager/epub_toc_enhanced.py
  src/enchant_book_manager/epub_utils.py
  src/enchant_book_manager/icloud_sync.py
  src/enchant_book_manager/main.py
  src/enchant_book_manager/make_epub.py
  src/enchant_book_manager/renamenovels.py
  src/enchant_book_manager/translation_service.py
  uv.lock
Due: mypy, yamllint

fix: format GitHub workflows and align linter configs
  .github/workflows/autofix.yml
  .github/workflows/build.yml
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-check.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/generate.yml
  .github/workflows/gitleaks.yml
  .github/workflows/lint.yml
  .github/workflows/metrics.yml
  .github/workflows/pre-commit.yml
  .github/workflows/prfix.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/synch.yml
  .github/workflows/test.yml
  .yamllint.yml
  REMAINING_WORK_PLAN.md
Due: yamllint, actionlint

fix: clean up REMAINING_WORK_PLAN.md formatting
  REMAINING_WORK_PLAN.md
Due: none

fix: exclude .pre-commit-config.yaml from yamllint
  .yamllint.yml
Due: yamllint

chore: trigger CI workflows to verify all checks pass
  .github/workflows/.gitkeep
Due: none

fix: remove cron schedules from GitHub workflows
  .github/workflows/gitleaks.yml
  .github/workflows/metrics.yml
  .github/workflows/security.yml
  .github/workflows/synch.yml
Due: yamllint, actionlint

refactor: modularize cli_translator.py into smaller focused modules
  .gitignore
  .gitleaks.toml
  CLAUDE.md
  src/enchant_book_manager/__init__.py
  src/enchant_book_manager/batch_processor.py
  src/enchant_book_manager/book_importer.py
  src/enchant_book_manager/cli_translator.py
  src/enchant_book_manager/cost_logger.py
  src/enchant_book_manager/file_handler.py
  src/enchant_book_manager/models.py
  src/enchant_book_manager/text_processor.py
  src/enchant_book_manager/text_splitter.py
  src/enchant_book_manager/translation_orchestrator.py
Due: mypy

refactor: split config_manager.py into smaller modules
  src/enchant_book_manager/config_args_handler.py
  src/enchant_book_manager/config_error_reporter.py
  src/enchant_book_manager/config_loader.py
  src/enchant_book_manager/config_manager.py
  src/enchant_book_manager/config_preset_validator.py
  src/enchant_book_manager/config_prompts.py
  src/enchant_book_manager/config_prompts_local.py
  src/enchant_book_manager/config_prompts_remote.py
  src/enchant_book_manager/config_schema.py
  src/enchant_book_manager/config_utils.py
  src/enchant_book_manager/config_validator.py
  src/enchant_book_manager/preset_manager.py
Due: mypy

refactor: split make_epub.py into smaller modules
  enchant_config.yml
  src/enchant_book_manager/chapter_detector.py
  src/enchant_book_manager/cli_translator.py
  src/enchant_book_manager/epub_builders.py
  src/enchant_book_manager/epub_generator.py
  src/enchant_book_manager/epub_validation.py
  src/enchant_book_manager/make_epub.py
Due: mypy, yamllint

refactor: split translation_service.py into smaller modules
  REMAINING_WORK_PLAN.md
  src/enchant_book_manager/api_clients.py
  src/enchant_book_manager/cli_batch_handler.py
  src/enchant_book_manager/cli_parser.py
  src/enchant_book_manager/cli_setup.py
  src/enchant_book_manager/enchant_cli.py
  src/enchant_book_manager/text_validators.py
  src/enchant_book_manager/translation_constants.py
  src/enchant_book_manager/translation_service.py
  src/enchant_book_manager/workflow_orchestrator.py
Due: mypy

docs: update work plan after translation_service refactoring
  REMAINING_WORK_PLAN.md
Due: none

fix: resolve issues from refactoring
  CLAUDE.md
  enchant_config.yml
  src/enchant_book_manager/api_clients.py
  src/enchant_book_manager/text_validators.py
  tests/test_basic_functionality.py
  tests/test_chunk_retry_constants.py
  tests/test_enchant_orchestrator.py
  tests/test_translation_service.py
  tests/test_translation_service_real.py
Due: mypy, yamllint

fix: update test to match actual default temperature value
  tests/test_translation_service.py
Due: none

refactor: split renamenovels.py into smaller modules
  CLAUDE.md
  src/enchant_book_manager/rename_api_client.py
  src/enchant_book_manager/rename_file_processor.py
  src/enchant_book_manager/renamenovels.py
Due: mypy

docs: add comprehensive module splitting and refactoring rules to CLAUDE.md
  CLAUDE.md
Due: none

refactor: split common_text_utils.py into smaller modules
  refactoring_log.md
  src/enchant_book_manager/common_text_utils.py
  src/enchant_book_manager/html_processing.py
  src/enchant_book_manager/text_constants.py
  src/enchant_book_manager/text_processing.py
Due: mypy

refactor: split workflow_orchestrator.py into smaller modules
  refactoring_log.md
  src/enchant_book_manager/workflow_epub.py
  src/enchant_book_manager/workflow_orchestrator.py
  src/enchant_book_manager/workflow_phases.py
  src/enchant_book_manager/workflow_progress.py
Due: mypy

fix: properly indent prompts in YAML config template
  CLAUDE.md
  enchant_book_manager.log
  src/enchant_book_manager/config_schema.py
  tests/test_enchant_orchestrator.py
Due: mypy

refactor: split chapter_detector.py (17KB) into smaller modules
  refactoring_log.md
  src/enchant_book_manager/chapter_detector.py
  src/enchant_book_manager/chapter_issues.py
  src/enchant_book_manager/chapter_parser.py
  src/enchant_book_manager/chapter_patterns.py
  src/enchant_book_manager/chapter_validators.py
Due: mypy

docs: update refactoring log with chapter_detector completion
  refactoring_log.md
Due: none

fix: resolve test failures and formatting issues from refactoring
  enchant_book_manager.log
  src/enchant_book_manager/config_manager.py
  src/enchant_book_manager/preset_manager.py
  src/enchant_book_manager/translation_service.py
  tests/test_enchant_orchestrator.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^(tests/|__pycache__|\.git/)
  yamllint: any of: \.(yaml|yml)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
