Repository Emasoft/enchant_cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, yamllint, actionlint

.pre-commit-config.yaml:

# Pre-commit configuration for EnChANT Book Manager
# Runs all linters automatically before each commit
minimum_pre_commit_version: '2.20.0'
fail_fast: false
default_language_version:
  python: python3.12

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-json
      - id: debug-statements

  # Use uv for dependency management
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.5.11
    hooks:
      # Ensure uv.lock is up-to-date
      - id: uv-lock

  # Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.5
    hooks:
      - id: ruff
        args: ['--fix', '--ignore', 'E203,E402,E501,E266,W505,F841,F842,F401,W293,I001,UP015,C901,W291', '--isolated']
      - id: ruff-format

  # Local hooks that use uv run
  - repo: local
    hooks:
      # Type checking with mypy
      - id: mypy
        name: mypy
        entry: uv run --frozen mypy
        language: system
        types: [python]
        require_serial: true
        args: ['--strict', '--show-error-context', '--pretty', '--no-color-output', '--show-error-codes', '--show-error-code-links', '--no-error-summary', '--follow-imports=normal']
        exclude: '^(tests/|__pycache__|\.git/)'

      # Dependency checking with deptry
      - id: deptry
        name: deptry
        entry: uv run --frozen deptry
        language: system
        always_run: true
        pass_filenames: false
        args: [.]

      # Security audit with pip-audit
      - id: pip-audit
        name: pip-audit
        entry: uv run --frozen pip-audit
        language: system
        always_run: true
        pass_filenames: false

      # YAML linting with yamllint
      - id: yamllint
        name: yamllint
        entry: uv run --frozen yamllint
        language: system
        types: [yaml]
        args: [-c, .yamllint]

      # GitHub Actions linting with actionlint
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        pass_filenames: true

      # Shell script linting with shellcheck
      - id: shellcheck
        name: shellcheck
        entry: uv run --frozen shellcheck
        language: system
        types: [shell]
        args: ['--severity=error', '--extended-analysis=true']

      # Detect secrets with gitleaks
      - id: gitleaks
        name: gitleaks
        entry: gitleaks protect --staged --verbose
        language: system
        pass_filenames: false
        always_run: true

test: improve epub_db_optimized.py coverage from 85% to 93%
  tests/test_epub_db_optimized.py
Due: none

test: achieve 100% coverage for batch_processor.py
  tests/test_batch_processor.py
Due: none

test: add edge case tests for icloud_sync.py to improve coverage
  tests/test_icloud_sync.py
Due: none

fix: resolve test failures in icloud_sync, text_processing, and workflow tests
  tests/test_icloud_sync.py
  tests/test_text_processing.py
  tests/test_workflow_epub.py
  tests/test_workflow_progress.py
Due: none

test: add realistic test helpers for translation orchestrator tests
  tests/test_helpers.py
  tests/test_translation_orchestrator_fixed.py
Due: none

fix: apply formatting and linting fixes
  .coverage.Mac-mini-di-Emanuele.local.73635.XMnOjHux
  .coverage.Mac-mini-di-Emanuele.local.73635.XUbGgpRx
  tests/test_helpers.py
  tests/test_icloud_sync.py
  tests/test_text_processing.py
  tests/test_translation_orchestrator_fixed.py
Due: none

test: add comprehensive tests for translation_orchestrator module
  .coverage.Mac-mini-di-Emanuele.local.73635.XMnOjHux
  .coverage.Mac-mini-di-Emanuele.local.73635.XUbGgpRx
  tests/test_translation_orchestrator.py
Due: none

fix: resolve test failures and pytest collection warnings
  tests/test_helpers.py
  tests/test_translation_orchestrator.py
  tests/test_translation_orchestrator_fixed.py
Due: none

fix: finalize test_text_processing fixes with string literals
  tests/test_icloud_sync.py
  tests/test_text_processing.py
  tests/test_translation_orchestrator.py
Due: none

fix: apply sanitize_filename to chunk filenames to prevent OS filename length errors
  src/enchant_book_manager/translation_orchestrator.py
Due: mypy

fix: sanitize cost log filename to prevent OS filename length errors
  src/enchant_book_manager/cost_logger.py
  src/enchant_book_manager/translation_orchestrator.py
  tests/test_translation_orchestrator_fixed.py
Due: mypy

fix: update test expectations for sanitized filenames in cost logger
  tests/test_cost_logger.py
Due: none

feat: add magic constants module to replace hardcoded numeric values
  MAGIC_NUMBERS_ANALYSIS.md
  src/enchant_book_manager/api_clients.py
  src/enchant_book_manager/magic_constants.py
  src/enchant_book_manager/models.py
  src/enchant_book_manager/renamenovels.py
  src/enchant_book_manager/translation_service.py
Due: mypy

chore: bump version to 1.1.0 after adding magic constants module
  pyproject.toml
Due: none

fix: add thread safety and improve error handling
  CHANGELOG_FIXES.md
  src/enchant_book_manager/common_file_utils.py
  src/enchant_book_manager/icloud_sync.py
  src/enchant_book_manager/models.py
  tests/test_file_validation.py
  tests/test_models.py
  tests/test_translation_service.py
  uv.lock
Due: mypy

chore: sync version to 1.1.0 in __init__.py
  src/enchant_book_manager/__init__.py
Due: mypy

refactor: split large cli_parser function and add retry utilities
  CLAUDE.md
  src/enchant_book_manager/book_importer.py
  src/enchant_book_manager/cli_help_text.py
  src/enchant_book_manager/cli_parser.py
  src/enchant_book_manager/magic_constants.py
  src/enchant_book_manager/models.py
  src/enchant_book_manager/retry_utils.py
  tests/test_book_importer.py
  tests/test_models.py
  tests/test_retry_utils.py
Due: mypy

feat: add memory-safe git hooks to prevent system crashes
  .gitignore
  scripts/README.md
  scripts/cleanup-gitleaks.sh
  scripts/export-safe-hooks.sh
  scripts/gitleaks-safe.sh
  scripts/install-safe-git-hooks.sh
  src/enchant_book_manager/translation_orchestrator.py
Due: mypy

feat: add v2 memory-safe wrappers with multi-instance support
  scripts/README-v2.md
  scripts/UPGRADE-SUMMARY.md
  scripts/cleanup-gitleaks-v2.sh
  scripts/gitleaks-safe-v2.sh
  scripts/install-safe-git-hooks-v2.sh
Due: none

feat: add Python version of gitleaks-safe as uv tool
  gitleaks-safe-tool/PUBLISHING.md
  gitleaks-safe-tool/README.md
  gitleaks-safe-tool/pyproject.toml
  gitleaks-safe-tool/src/gitleaks_safe/__init__.py
  gitleaks-safe-tool/src/gitleaks_safe/cleanup.py
  gitleaks-safe-tool/src/gitleaks_safe/cli.py
  gitleaks-safe-tool/src/gitleaks_safe/installer.py
  gitleaks-safe-tool/src/gitleaks_safe/utils.py
  gitleaks-safe-tool/src/gitleaks_safe/wrapper.py
Due: mypy

chore: remove gitleaks-safe-tool after moving to independent repository
  gitleaks-safe-tool/PUBLISHING.md
  gitleaks-safe-tool/README.md
  gitleaks-safe-tool/pyproject.toml
  gitleaks-safe-tool/src/gitleaks_safe/__init__.py
  gitleaks-safe-tool/src/gitleaks_safe/cleanup.py
  gitleaks-safe-tool/src/gitleaks_safe/cli.py
  gitleaks-safe-tool/src/gitleaks_safe/installer.py
  gitleaks-safe-tool/src/gitleaks_safe/utils.py
  gitleaks-safe-tool/src/gitleaks_safe/wrapper.py
Due: mypy

chore: remove all gitleaks-safe files to prepare for clean reinstall
  .github/workflows/gitleaks.yml
  .gitleaks.toml
  .gitleaksignore
  .pre-commit-config.yaml
  scripts/cleanup-gitleaks-v2.sh
  scripts/cleanup-gitleaks.sh
  scripts/gitleaks-safe-v2.sh
  scripts/gitleaks-safe.sh
  scripts/install-safe-git-hooks-v2.sh
  scripts/install-safe-git-hooks.sh
Due: yamllint, actionlint

docs: update CLAUDE.md with gitleaks-safe instructions
  CLAUDE.md
Due: none

docs: consolidate all gitleaks-safe instructions into single section
  CLAUDE.md
Due: none

chore: add gitleaks configuration file
  .gitleaks.toml
Due: none

test: add file with secret to test detection
  test_secret.py
Due: mypy

fix: correct gitleaks allowlist configuration syntax
  .gitleaks.toml
Due: none

fix: simplify gitleaks configuration to avoid parsing errors
  .gitleaks.toml
Due: none

test: remove test secret file
  test_secret.py
Due: mypy

chore: update gitleaks configuration
  .gitleaks.toml
Due: none

fix: resolve linting errors for CI/CD
  src/enchant_book_manager/common_print_utils.py
  src/enchant_book_manager/retry_utils.py
  src/enchant_book_manager/translation_orchestrator.py
Due: mypy

fix: resolve mypy error in common_print_utils
  src/enchant_book_manager/common_print_utils.py
Due: mypy

fix: resolve CI/CD mypy type assignment error
  CLAUDE.md
  src/enchant_book_manager/common_print_utils.py
Due: mypy

fix: resolve all test failures in CI/CD pipeline
  CLAUDE.md
  src/enchant_book_manager/common_print_utils.py
  src/enchant_book_manager/translation_orchestrator.py
  tests/test_chunk_retry_improved.py
  tests/test_chunk_retry_mechanism.py
  tests/test_common_print_utils.py
  tests/test_renamenovels.py
Due: mypy

refactor: remove gitleaks and prepare for trufflehog integration
  .github/workflows/check.yml
  .github/workflows/lint.yml
  .github/workflows/pre-commit.yml
  .github/workflows/security.yml
  .gitleaks.toml
  .pre-commit-config.yaml
  .trufflehog.yml
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/workflows/GITHUB_WORKFLOWS_BEST_PRACTICES.md
  scripts/README-v2.md
  scripts/README.md
  scripts/UPGRADE-SUMMARY.md
  scripts/export-safe-hooks.sh
Due: yamllint, actionlint

feat: add Trufflehog excludes file
  .trufflehog-excludes.txt
Due: none

test: verify Trufflehog v3 integration
  test_trufflehog.txt
Due: none

chore: remove Trufflehog test file
  test_trufflehog.txt
Due: none

docs: update CLAUDE.md with comprehensive Trufflehog v3 documentation
  CLAUDE.md
Due: none
