Repository Emasoft/enchant_cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, yamllint, actionlint

mypy:
  name: mypy
  entry: uv run --frozen mypy
  language: system
  require_serial: true
  args:
  - --strict
  - --ignore-missing-imports

yamllint:
  name: yamllint
  entry: uv run --frozen yamllint
  language: system
  args:
  - -c
  - .yamllint

actionlint:
  name: actionlint
  entry: actionlint
  language: system
  pass_filenames: true

docs: add guide for testing GitHub Actions locally with act
  docs/testing-github-actions-locally.md
Due: none

feat: comprehensive linting pipeline with deptry, yamllint, and actionlint
  CLAUDE.md
Due: none

fix: comprehensive code quality improvements
  requests_responses.log
  src/enchant_book_manager/cli_translator.py
  src/enchant_book_manager/enchant_cli.py
  src/enchant_book_manager/renamenovels.py
  src/enchant_book_manager/translation_service.py
  tests/test_basic_functionality.py
  tests/test_chunk_retry_improved.py
  tests/test_code_quality_fixes.py
  tests/test_cost_tracking_simple.py
  tests/test_e2e_chinese_to_epub.py
  tests/test_enchant_orchestrator.py
  tests/test_integration_cost_tracking_fixed.py
  tests/test_translation_service.py
  tests/test_translation_service_real.py
  tests/test_xml_generation.py
Due: mypy

fix: resolve all remaining code quality issues
  src/enchant_book_manager/common_print_utils.py
  src/enchant_book_manager/common_text_utils.py
  src/enchant_book_manager/common_utils.py
  src/enchant_book_manager/config_manager.py
  src/enchant_book_manager/cost_tracker.py
  src/enchant_book_manager/icloud_sync.py
  src/enchant_book_manager/translation_service.py
  tests/test_code_quality_fixes.py
  tests/test_enchant_orchestrator.py
  tests/test_epub_db_optimized.py
  tests/test_part_notation_detection.py
Due: mypy

docs: add essential documentation and security configuration
  .gitignore
  .gitleaks.toml
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
Due: none

fix: resolve CI/CD issues and update dependencies
  .github/pytest.ini
  .github/test_env.py
  .github/workflows/ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  pyproject.toml
  src/enchant_book_manager/enchant_cli.py
  src/enchant_book_manager/epub_builder.py
  src/enchant_book_manager/translation_service.py
  tests/test_chapter_parsing_phase3.py
  tests/test_chunk_retry_improved.py
  tests/test_chunk_retry_mechanism.py
  tests/test_e2e_chinese_to_epub.py
  tests/test_enchant_orchestrator.py
  tests/test_part_notation_detection.py
  tests/test_real_integration_final.py
  tests/test_translation_service_real.py
  uv.lock
  workflow_errors.md
Due: mypy, yamllint, actionlint

fix: use correct actionlint version v1.7.7
  .github/workflows/ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  workflow_errors.md
Due: yamllint, actionlint

fix: resolve mypy type errors and add line length configuration
  pyproject.toml
  src/enchant_book_manager/common_file_utils.py
  src/enchant_book_manager/common_utils.py
  src/enchant_book_manager/config_manager.py
  src/enchant_book_manager/epub_db_optimized.py
  src/enchant_book_manager/translation_service.py
  uv.lock
Due: mypy

fix: correct import paths in test files and remove log file from git
  requests_responses.log
  tests/test_e2e_chinese_to_epub.py
  tests/test_edge_cases.py
  tests/test_enchant_orchestrator.py
Due: mypy

fix: import paths and complete comprehensive code quality analysis
  enchant_book_manager.log
Due: none

fix: resolve critical code quality issues and consolidate implementations
  enchant_book_manager.log
  src/enchant_book_manager/common_utils.py
  src/enchant_book_manager/config_manager.py
  src/enchant_book_manager/enchant_cli.py
  src/enchant_book_manager/renamenovels.py
  src/enchant_book_manager/translation_service.py
  tests/.DS_Store
  tests/test_translation_service.py
  tests/test_translation_service_real.py
Due: mypy

fix: remove src. prefix from translation_service test imports
  src/enchant_book_manager/cli_translator.py
  src/enchant_book_manager/common_file_utils.py
  src/enchant_book_manager/common_utils.py
  src/enchant_book_manager/config_manager.py
  src/enchant_book_manager/enchant_cli.py
  src/enchant_book_manager/renamenovels.py
  src/enchant_book_manager/translation_service.py
  tests/test_translation_service.py
  tests/test_translation_service_real.py
Due: mypy

Configure Gitleaks security scanning and CI/CD pipeline
  .envrc
  .github/workflows/ci.yml
  .github/workflows/gitleaks.yml
  .gitleaks.toml
Due: yamllint, actionlint

docs: update README with comprehensive installation instructions and CLI help
  README.md
Due: none

docs: update README with professional formatting and alpha warning
  CLAUDE.md
  README.md
  pyproject.toml
  src/enchant_book_manager/cli_translator.py
  src/enchant_book_manager/enchant_cli.py
  src/enchant_book_manager/make_epub.py
  src/enchant_book_manager/renamenovels.py
Due: mypy

chore: update development status to alpha in pyproject.toml
  pyproject.toml
Due: none

chore: add Apache 2.0 license headers to all Python files
  LICENSE
  LICENSE_ANALYSIS.md
  LICENSE_VERIFICATION.md
  NOTICE
  src/enchant_book_manager/__init__.py
  src/enchant_book_manager/common_constants.py
  src/enchant_book_manager/common_file_utils.py
  src/enchant_book_manager/common_print_utils.py
  src/enchant_book_manager/common_text_utils.py
  src/enchant_book_manager/common_utils.py
  src/enchant_book_manager/common_yaml_utils.py
  src/enchant_book_manager/config_manager.py
  src/enchant_book_manager/cost_tracker.py
  src/enchant_book_manager/enchant_cli.py
  src/enchant_book_manager/epub_builder.py
  src/enchant_book_manager/epub_constants.py
  src/enchant_book_manager/epub_db_optimized.py
  src/enchant_book_manager/epub_toc_enhanced.py
  src/enchant_book_manager/epub_utils.py
  src/enchant_book_manager/icloud_sync.py
  src/enchant_book_manager/main.py
  src/enchant_book_manager/make_epub.py
  src/enchant_book_manager/renamenovels.py
Due: mypy

feat: implement remote API integration testing
  .github/pytest.ini
  CLAUDE.md
  enchant_book_manager.log
  src/enchant_book_manager/__init__.py
  src/enchant_book_manager/cli_translator.py
  src/enchant_book_manager/common_constants.py
  src/enchant_book_manager/common_file_utils.py
  src/enchant_book_manager/common_print_utils.py
  src/enchant_book_manager/common_text_utils.py
  src/enchant_book_manager/common_utils.py
  src/enchant_book_manager/common_yaml_utils.py
  src/enchant_book_manager/config_manager.py
  src/enchant_book_manager/cost_tracker.py
  src/enchant_book_manager/enchant_cli.py
  src/enchant_book_manager/epub_builder.py
  src/enchant_book_manager/epub_constants.py
  src/enchant_book_manager/epub_db_optimized.py
  src/enchant_book_manager/epub_toc_enhanced.py
  src/enchant_book_manager/epub_utils.py
  src/enchant_book_manager/icloud_sync.py
  src/enchant_book_manager/main.py
  src/enchant_book_manager/make_epub.py
  src/enchant_book_manager/renamenovels.py
  src/enchant_book_manager/translation_service.py
  tests/.DS_Store
  tests/pytest.ini
  tests/sample_novel/.sample_chapters_progress.yml
  tests/test_chunk_retry_improved.py
  tests/test_chunk_retry_mechanism.py
  tests/test_e2e_chinese_to_epub.py
  tests/test_enchant_orchestrator.py
  tests/test_remote_api_integration.py
  tests/test_translation_service.py
Due: mypy, yamllint

fix: add ruff.toml configuration file
  .github/workflows/ci.yml
  .github/workflows/gitleaks.yml
  .github/workflows/pre-commit.yml
  .github/workflows/super-linter.yml
  .gitleaks.toml
  ruff.toml
Due: yamllint, actionlint

fix: resolve remaining CI/CD issues
  .pre-commit-config.yaml
  ruff.toml
  src/enchant_book_manager/translation_service.py
Due: mypy, yamllint

feat: add yamlfmt for consistent YAML formatting
  .github/linters/.markdown-lint.yml
  .github/workflows/ci.yml
  .github/workflows/gitleaks.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/super-linter.yml
  .pre-commit-config.yaml
  .yamlfmt
  .yamllint
  .yamllint.yml
  enchant_config.yml
  tests/sample_novel/.translated_Global High Martial Arts by Eagle Eats Chick (Lǎo yīng chī xiǎo jī)_progress.yml
Due: yamllint, actionlint

fix: restrict yamlfmt to GitHub workflow files only
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .yamlfmt
Due: yamllint, actionlint

fix: resolve all CI/CD linting issues
  .yamllint.yml
  src/enchant_book_manager/cli_translator.py
  src/enchant_book_manager/common_file_utils.py
  src/enchant_book_manager/config_manager.py
  src/enchant_book_manager/enchant_cli.py
  src/enchant_book_manager/epub_builder.py
  src/enchant_book_manager/epub_db_optimized.py
  src/enchant_book_manager/epub_toc_enhanced.py
  src/enchant_book_manager/epub_utils.py
  src/enchant_book_manager/make_epub.py
  src/enchant_book_manager/renamenovels.py
  tests/test_chapter_parsing_phase3.py
  tests/test_chunk_retry_improved.py
  tests/test_chunk_retry_mechanism.py
  tests/test_e2e_chinese_to_epub.py
  tests/test_edge_cases.py
  tests/test_epub_xml_generation.py
  tests/test_remote_api_integration.py
  tests/test_translation_service.py
Due: mypy, yamllint

fix: reduce retry count for tests to speed up CI/CD
  src/enchant_book_manager/common_constants.py
  src/enchant_book_manager/common_utils.py
  src/enchant_book_manager/translation_service.py
Due: mypy

fix: format test files with ruff to fix CI
  tests/test_e2e_chinese_to_epub.py
  tests/test_remote_api_integration.py
Due: mypy

fix: apply ruff formatting to test files
  tests/test_e2e_chinese_to_epub.py
  tests/test_remote_api_integration.py
Due: mypy

fix: resolve Super-Linter mypy configuration path issue
  .github/linters/pyproject.toml
  .github/workflows/super-linter.yml
Due: yamllint, actionlint

fix: exclude enchant_config.yml from yamllint line-length checks
  .yamllint.yml
  enchant_config.yml
Due: yamllint

fix: add yamllint config to linters directory for Super-Linter
  .github/linters/.yamllint.yml
Due: yamllint

fix: resolve remaining CI/CD issues
  .github/workflows/super-linter.yml
  tests/test_remote_api_integration.py
Due: mypy, yamllint, actionlint

refactor: replace Super-Linter with direct tool execution
  .github/linters/.markdown-lint.yml
  .github/linters/.mypy.ini
  .github/linters/.ruff.toml
  .github/linters/.shellcheckrc
  .github/linters/.yamllint.yml
  .github/linters/pyproject.toml
  .github/workflows/lint.yml
  .github/workflows/super-linter.yml
Due: yamllint, actionlint

fix: use pre-commit hooks in lint workflow for consistency
  .github/workflows/lint.yml
Due: yamllint, actionlint

refactor: remove lint job from CI workflow
  .github/workflows/ci.yml
Due: yamllint, actionlint

feat: add autofix.ci workflow and improve gitleaks config
  .github/workflows/autofix.yml
  .gitleaks.toml
  .gitleaksignore
Due: yamllint, actionlint

Path conditions:
  mypy: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
